:root {
  // colors
  --clr-dark: 230 35% 7%;
  --clr-dark-lighter: 0 0% 59%;
  --clr-accent: 231 77% 90%;
  --clr-white: 0 0% 100%;

  // font-sizes
  --fs-900: 5rem;
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  // font-families
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-900: 7.5rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 58em) {
  :root {
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* 
  Break points for reference (used with min-width so tablet is 30rem+ aka >480px)
  
  tablet -> 35rem; //560px
  desktop -> 58rem; //928px;
  desktop-xl -> 85rem; // 1360px
*/
