.number-indicators {
  flex-direction: column;
  & > * {
    width: 5rem;
    padding: 0;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid hsl(var(--clr-white) / 0.25);
    color: hsl(var(--clr-white));
    transition: border-color 200ms ease, background-color 200ms ease;
    border-radius: 50%;
    &:hover,
    &:focus-visible {
      border-color: hsl(var(--clr-white));
    }
    &[aria-selected="true"] {
      background-color: hsl(var(--clr-white)) !important;
      color: hsl(var(--clr-dark)) !important;
    }
  }
}
