.underline-indicators {
  & > * {
    position: relative;
    cursor: pointer;
    padding-block: var(--underline-gap, 1rem);

    &:not(.active)::after
    // &:not([aria-selected="true"])::after
    {
      content: "";
    }

    .indicator,
    &::after {
      width: 4px;
      height: 100%;
      background-color: hsl(var(--clr-white));
      position: absolute;
      top: 0;
      right: 0;
      transition: opacity 200ms ease;
      opacity: 0;
    }
    &:hover,
    &:focus-within,
    &.fake-hover {
      &::after {
        opacity: 0.5;
      }
    }
    &.active .indicator,
    &[aria-selected="true"] .indicator {
      opacity: 1;
    }
  }
}

@media (min-width: 35rem) {
  .underline-indicators {
    & > * {
      .indicator,
      &::after {
        width: 100%;
        height: 3px;
        opacity: 0;
        left: 0;
        bottom: 0;
        top: unset;
        right: unset;
      }
    }
  }
}
