// generic
@use "partials/variables";
@use "partials/reset";
@use "partials/utils";
@use "partials/accessibility";
// components
@use "components/underline-indicators";
@use "components/dot-indicators";
@use "components/number-indicators";

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  overflow-x: hidden;
}

#__next {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: relative;
}

*:focus-visible {
  outline: 3px dashed hsl(var(--clr-accent));
  outline-offset: 1.25em;
}
